.Next-date {
  width: 400px;
  margin-bottom: 20px;
}

.Next-date-main {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.Next-date-day {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
}

.Next-date-degree {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  margin: 0px 10px;
}

.Next-date-type {
  width: 25px;
  background-image: url('../../.././images/weather/sn.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.Next-date-info {
  font-family: Montserrat;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.Next-date-info span {
  margin-right: 15px;
}
