.Current-date {
  width: 500px;
}

.Current-date-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Current-date-degree {
  font-weight: bold;
  font-size: 100px;
  line-height: 180px;

  text-transform: uppercase;

  color: #FFFFFF;
  display: flex;
}

.Current-date-type {
  width: 100px;
  margin-left: 30px;
  display: flex;
}

.Current-date-type img {
  width: 100px;
}

.Current-date-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;

  text-transform: uppercase;

  color: #FFFFFF;
}

.Current-date-info span {
  margin-right: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  color: #FFFFFF;
}
