.App {
  margin: auto;
  width: 800px;
  height: 400px;
  background-size: cover;
  background-image: url('images/background.jpg');
}

.App-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.App-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.App-column {
  display: flex;
  flex-direction: column;
}

.App-search {
  width: 50%;
}
